{# Import of specific macro function from a file from partials directory #}
{% from "partials/listChannels.html" import listChannels %}

{# If you have some information that you want to use in the template more than once, you can set a variable and reuse it
Important to notice here is how the title of the AsyncAPI document is accessed. It is not protected from situation that "info" or "title" 
are not provided in the document because there are among not many required fields. 
To read more about Nunjuck's Tag called set go to https://mozilla.github.io/nunjucks/templating.html#set #}
{% set apiName = asyncapi.info().title() %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <div class="container mx-auto px-4">        
            <p> 
                {# Below you can see how you access variable's value with double curly braces #}
                <h1>{{ apiName }}</h1>
                {# Below you can see how you macro reusable chunks are called #}
                {{ listChannels(asyncapi.channels(), 'subscribe') }}
                {{ listChannels(asyncapi.channels(), 'publish') }}
                {# Below you can see how reusable parts of template are included in a template file #}
                {% include "partials/diagramContent.html" %}
                {# This is an example how you can access values from AsyncAPI file from its extensions #}
                Share your feedback with us on <a href="http://twitter.com/{{ asyncapi.info().extension('x-twitter') }}">Twitter</a>. 
                {% if asyncapi.hasExternalDocs() %}
                    {# You can see chaining of filters here, where one value is processed by two filters, one after another #}
                    Don't forget to visit our website {{ asyncapi.externalDocs().url() | urlize | safe }}.
                {% endif %}
            </p> 
        </div>
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
            mermaid.initialize({
                startOnLoad: true,
                /*
                * You can access "maxTextSide" parameter value without any conditions in case user did not provide such a parameter. 
                * It is possible thanks to the functionality that makes it possuble for template developer to specify default values for parameters.
                * Check out package.json file and look for generator.parameters.maxTextSize and its description and default value.
                */
                maxTextSize: {{ params.maxTextSize }}
            });
        </script>
    </body>
</html>
